@import "tailwindcss";

:root {
  --background: #01161e;
  --foreground: #ffffff;
}

@theme {
  --color-foreground: #ffffff;
  --color-background: #01161e;
  --color-primary-dark: #01161e;
  --color-secondary-dark: #06222d;
  --color-primary: #3298d4;
  --color-secondary: #7ac0e7;
  --color-tertiary: #65a6c9;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow), sans-serif;
}
.loading-btn {
  .loading-spinner {
    display: none;
  }
  &:active,
  &:focus {
    @apply relative;
    :not(.loading-spinner) {
      @apply opacity-50;
    }
    .loading-spinner {
      display: block;
      * {
        @apply opacity-100;
      }
    }
  }
}
