@import "tailwindcss";

:root {
  --background: #01161e;
  --foreground: #ffffff;
}

@theme {
  --color-foreground: #ffffff;
  --color-background: #01161e;
  --color-primary-dark: #01161e;
  --color-secondary-dark: #06222d;
  --color-primary: #3298d4;
  --color-secondary: #7ac0e7;
  --color-tertiary: #65a6c9;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow), sans-serif;
}
.loading-btn {
  &:active,
  &:focus,
  &.active {
    @apply relative text-white/50 bg-primary/50;
    &:disabled {
      @apply opacity-100;
    }
    &::after {
      @apply absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2 w-8 h-8 animate-spin;
      content: url("/icons/spinner.svg");
      display: block;
    }
  }
}
